.Results .meaning-section {
    visibility: hidden;
}


.Results .meaning-section .wordType {
    width: 100px;
}

.Results .second-meaning {
    border-top: 0.2px solid gray;
}

.Results .phonetic {
    font-style:italic;
}

.Results .wordType {
    min-width: 100px;
    width: 150px;
}

@media (min-width: 576px) {
    .Results .meaning-section .inner-border {
        border: 5px solid #b8b8b8;
    }
    
}

@media (min-width: 768px) {
    .Results .second-meaning {
        background: #e2edf5;
        border: none;
    }
}